@model PagedSearchViewModel<Organization>

@{
    ViewBag.Title = "Index";
}

<h2>NFL Organizations</h2>

<div class="row">
    @using (Html.BeginForm("Index", "Organizations", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        @Html.EditorFor(m => m.SearchCriteria)
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
        </div>
        <hr />
    }
</div>

<div class="row">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @Html.GetPager(Model.Data, Request.RawUrl)
    <table class="table">
        <tr>
            <th>
                <a href="@Html.GetSortingUrl(Model.Data, p => p.ID, Request.RawUrl)">ID</a>
            </th>
            <th>
                <a href="@Html.GetSortingUrl(Model.Data, p => p.ShortName, Request.RawUrl)">Short Name</a>
            </th>
            <th>
                <a href="@Html.GetSortingUrl(Model.Data, p => p.FullName, Request.RawUrl)">Full Name</a>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.EncryptedActionLink("Edit", "Edit", "Organizations", new { id = item.ID }, null) |
                    @Html.EncryptedActionLink("Details", "Details", "Organizations", new { id = item.ID }, null) |
                    @Html.EncryptedActionLink("Delete", "Delete", "Organizations", new { id = item.ID }, null)
                </td>
            </tr>
        }
    </table>
    @Html.GetPager(Model.Data, Request.RawUrl)
</div>