@model Combine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
<h4>Combine</h4>
<hr/>
<dl class="dl-horizontal">
<dt>
    @Html.DisplayNameFor(model => model.Position.ShortName)
</dt>

<dd>
    @Html.DisplayFor(model => model.Position.ShortName)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Arms)
</dt>

<dd>
    @Html.DisplayFor(model => model.Arms)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Bench)
</dt>

<dd>
    @Html.DisplayFor(model => model.Bench)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Broad)
</dt>

<dd>
    @Html.DisplayFor(model => model.Broad)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.College)
</dt>

<dd>
    @Html.DisplayFor(model => model.College)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.FirstName)
</dt>

<dd>
    @Html.DisplayFor(model => model.FirstName)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.FourtyYardDash)
</dt>

<dd>
    @Html.DisplayFor(model => model.FourtyYardDash)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Hands)
</dt>

<dd>
    @Html.DisplayFor(model => model.Hands)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.HeightFeet)
</dt>

<dd>
    @Html.DisplayFor(model => model.HeightFeet)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.HeightInches)
</dt>

<dd>
    @Html.DisplayFor(model => model.HeightInches)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.HeightInchesTotal)
</dt>

<dd>
    @Html.DisplayFor(model => model.HeightInchesTotal)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Name)
</dt>

<dd>
    @Html.DisplayFor(model => model.Name)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.NFLGrade)
</dt>

<dd>
    @Html.DisplayFor(model => model.NFLGrade)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.LastName)
</dt>

<dd>
    @Html.DisplayFor(model => model.LastName)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Pick)
</dt>

<dd>
    @Html.DisplayFor(model => model.Pick)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.PickRound)
</dt>

<dd>
    @Html.DisplayFor(model => model.PickRound)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.PickTotal)
</dt>

<dd>
    @Html.DisplayFor(model => model.PickTotal)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Round)
</dt>

<dd>
    @Html.DisplayFor(model => model.Round)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TenYardDash)
</dt>

<dd>
    @Html.DisplayFor(model => model.TenYardDash)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.ThreeCone)
</dt>

<dd>
    @Html.DisplayFor(model => model.ThreeCone)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TwentyYardDash)
</dt>

<dd>
    @Html.DisplayFor(model => model.TwentyYardDash)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.TwentyYardShuttle)
</dt>

<dd>
    @Html.DisplayFor(model => model.TwentyYardShuttle)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Vertical)
</dt>

<dd>
    @Html.DisplayFor(model => model.Vertical)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.WeightPounds)
</dt>

<dd>
    @Html.DisplayFor(model => model.WeightPounds)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Wonderlic)
</dt>

<dd>
    @Html.DisplayFor(model => model.Wonderlic)
</dd>

<dt>
    @Html.DisplayNameFor(model => model.Year)
</dt>

<dd>
    @Html.DisplayFor(model => model.Year)
</dd>

</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.ID}) |
    @Html.ActionLink("Back to List", "Index")
</p>